./behavioural_design_pattern/FraudDetectionSystem/bin
./behavioural_design_pattern/FraudDetectionSystem/obj

./behavioural_design_pattern/SmartHomeAutomationSystem/bin
./behavioural_design_pattern/SmartHomeAutomationSystem/obj

./creational_design_pattern/Cloud-AgnosticResourceProvisioningSystem/bin
./creational_design_pattern/Cloud-AgnosticResourceProvisioningSystem/obj

./creational_design_pattern/Enterprise-LevelReportGenerator/bin
./creational_design_pattern/Enterprise-LevelReportGenerator/obj

./structural_design_pattern/APIRateLimiter/bin
./structural_design_pattern/APIRateLimiter/obj

./structural_design_pattern/EnterpriseWorkflowManagementSystem/bin
./structural_design_pattern/EnterpriseWorkflowManagementSystem/obj

./EI.sln

./SmartOffice/bin
./SmartOffice/obj